@import "../../../css/colors.css";
@import "../../../css/filters.css";
@import "../../../css/default-colors.css";

.setting {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 4px;
}
.setting.active {
    background: $badge-background;
}
.setting:hover,
.setting:focus-within {
    background: $badge-border;
}

.help-icon {
    position: relative;
    border: 0;
    background-color: transparent;
    width: 20px;
    height: 20px;
    background-size: 100%;
    margin-left: 0.5rem;
    cursor: pointer;
}
.help-icon img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: $filter-icon-black;
}

.reset-icon {
    position: relative;
    border: 0;
    background-color: transparent;
    width: 20px;
    height: 20px;
    background-size: 100%;
    margin-left: 0.5rem;
    cursor: pointer;
}
.reset-icon img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: $filter-icon-black;
}


.label {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}